/* RESET EVERYTHING! */

* {
    padding: 0;
    margin: 0;
    text-align: center;
}

/* WHOLE BODY */

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: black;
    width: 100%;
}

/* MAIN SECTION MARGINS */

main {
    margin: 50px;
}

/* MAIN SECTION MARGINS - MOBILE */

@media(max-width: 768px) {

    main {
        margin: 25px;
    }

}

/* PARALLELOGRAMS */

.parallelogram {
    transform: skew(-15deg);
}

.skew-fix {
    display: inline-block;
    transform: skew(15deg);
}

/* MARGINS */

.large-margins {
    margin: 25px;
}

.small-margins {
    margin: 15px;
}

.very-small-margins {
    margin: 8px;
}

.very-small-top-margin {
    margin-top: 8px;
}

.very-large-side-margins {
    margin-left: 100px;
    margin-right: 100px;
}

/* MARGINS - MOBILE */

@media(max-width: 768px) {

    .large-margins {
        margin: 12px;
    }

    .small-margins {
        margin: 8px;
    }

    .very-small-margins {
        margin: 4px;
    }

    .very-large-side-margins {
        margin-left: 50px;
        margin-right: 50px;
    }

}

/* SCROLLBARS */

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background: #141414;
}

::-webkit-scrollbar-thumb {
    background: #5e0000;
}

/* NAVBAR */

.navbar {
    font-family: 'Roboto Condensed', 'Roboto', Arial, sans-serif;
    background-color: #8e0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar-left {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    margin: 10px;
}

.url-box {
    align-items: left;
    text-align: left;
}

.site-url {
    color: #ff6262;
    font-size: 60px;
    font-variant-caps: small-caps;
    text-align: left;
    text-decoration: none;
}

.dash-box {
    align-items: left;
    text-align: left;
}

.site-dash {
    color: black;
    font-size: 60px;
    font-variant-caps: small-caps;
    text-align: left;
    text-decoration: none;
}

.name-box {
    align-items: left;
    text-align: left;
}

.site-name {
    color: white;
    font-size: 60px;
    font-variant-caps: small-caps;
    text-align: left;
}

.navbar-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.nav-button {
    margin: 10px 25px;
}

.nav-link {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    box-shadow: 0 0 0;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.nav-link:hover {
    box-shadow: 8px 8px 0 rgba(0, 0, 0, .25);
    transition: 0.25s;
    color: #ff6262;
}

.active,
.active:hover {
    box-shadow: 8px 8px 0 rgba(0, 0, 0, .75);
    color: #ba0000;
}

/* NAVBAR - MOBILE */

@media(max-width: 768px) {

    .navbar {
        padding: 5px;
    }

    .navbar-left {
        margin: 5px;
        flex-direction: column;
        align-items: center;
    }

    .site-url {
        font-size: 40px;
    }

    .site-dash {
        font-size: 40px;
    }

    .site-name {
        font-size: 40px;
    }

    .nav-button {
        margin: 15px 15px;
    }

    .nav-link {
        padding: 5px 10px;
        font-size: 25px;
    }

    .nav-link:hover {
        box-shadow: 6px 6px 0 rgba(0, 0, 0, .25);
    }

    .active,
    .active:hover {
        box-shadow: 6px 6px 0 rgba(0, 0, 0, .75);
    }

}

/* IMAGE GALLERY */

.gallery-cell {
    width: 100%;
    position: fixed;
}

.gallery-image {
    width: 100%;
    height: max-content;
}

.image-caption {
    color: #808080;
    font-size: 15px;
    font-weight: 300;
}

.image-credit {
    color: #808080;
    font-size: 12px;
    font-weight: 300;
}

/* IMAGE GALLERY - MOBILE */

@media(max-width: 768px) {

    .image-caption {
        font-size: 12px;
    }

    .image-credit {
        font-size: 10px;
    }

}

/* MAIN SECTIONS */

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADINGS AND TEXT */

.header-box {
    background: #8e0000;
    border: 10px solid #5e0000;
    padding: 25px 50px;
}

.section-header {
    color: white;
    font-size: 60px;
    font-weight: 900;
    font-variant-caps: small-caps;
}

.subheader-box {
    background: #141414;
    border: 10px solid #0e0e0e;
    padding: 25px 50px;
}

.section-subheader {
    color: #ba0000;
    font-size: 60px;
    font-weight: 900;
    font-variant-caps: small-caps;
}

.section-text {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

/* HEADINGS AND TEXT - MOBILE */

@media(max-width: 768px) {

    .header-box {
        border: 8px solid #5e0000;
        padding: 12px 25px;
    }

    .section-header {
        font-size: 40px;
    }

    .subheader-box {
        border: 8px solid #0e0e0e;
        padding: 12px 25px;
    }

    .section-subheader {
        font-size: 40px;
    }

    .section-text {
        font-size: 15px;
    }

}

/* RESOURCE LINKS */

.resource-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resource-link {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.resource-link:hover {
    color: #ff6262;
    transition: 0.5s;
}

/* RESOURCE LINKS - MOBILE */

@media(max-width: 768px) {

    .resource-link {
        font-size: 15px;
    }

}

/* FOOTER */

.page-footer {
    background-color: #8e0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.footer-navbar {
    font-family: 'Roboto Condensed', 'Roboto', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-sources {
    margin: 25px;
    margin-bottom: 0px;
}

.footer-sourced {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.footer-sourced-text {
    color: #ff6262;
    font-size: 20px;
    font-weight: 500;
}

.footer-authors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.footer-author-text {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.author-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 20px;
}

.footer-author-link {
    color: #808080;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.footer-author-link:hover {
    color: #ff6262;
    transition: 0.5s;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    margin-bottom: 0px;
}

.footer-copyright-text {
    color: #ff6262;
    font-size: 30px;
    font-weight: 700;
    font-variant-caps: small-caps;
}

/* FOOTER - MOBILE */

@media(max-width: 768px) {

    .page-footer {
        padding: 25px;
    }

    .footer-sources {
        margin: 12px;
        margin-bottom: 0px;
    }

    .footer-sourced {
        margin: 12px;
    }

    .footer-sourced-text {
        font-size: 15px;
    }

    .footer-authors {
        flex-direction: column;
    }

    .footer-author {
        margin: 12px;
    }

    .footer-author-text {
        font-size: 15px;
    }

    .social-icon {
        width: 15px;
    }

    .footer-author-link {
        font-size: 15px;
    }

    .footer-copyright {
        margin: 12px;
        margin-bottom: 0px;
    }

    .footer-copyright-text {
        font-size: 25px;
    }

}

/* DATA TABLES */

.table-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    overflow-x: auto;
    width: auto;
    max-width: 85%;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.last-data-table {}

th,
td {
    border: 2px solid black;
    padding: 5px;
    text-align: left;
    font-size: 20px;
}

th {
    color: white;
    font-weight: 700;
    background-color: #8e0000;
}

td {
    color: black;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: pink;
}

td:first-child {
    font-weight: 700;
}

td:last-child {
    min-width: 500px;
}

/* DATA TABLES - MOBILE */

@media(max-width: 768px) {

    .table-container {
        width: 85%;
    }

    .last-data-table {}

    th,
    td {
        border: 1px solid black;
        padding: 3px;
        font-size: 15px;
    }

}

/* CONTACT */

.iframe-container {
    width: auto;
}

/* CONTACT - MOBILE */

@media(max-width: 768px) {

    .iframe-container {
        width: 85%;
        overflow: auto;
    }

}