/* RESET */

* {
    padding: 0;
    margin: 0;
    text-align: center;
}

/* WHOLE BODY */

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #0c0c0c;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    background-color: #8e0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.site-name {
    color: white;
    font-size: 60px;
    font-variant-caps: small-caps;
    text-align: left;
    padding: 20px 20px;
}

.navbar-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding-right: 20px;
}

.nav-button {
    background: black;
    color: white;
    font-size: 30px;
    box-shadow: 0 0 0;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 20px;
    text-decoration: none;
}

.active {
    color: #ba0000;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, .75);
}

.nav-button:hover {
    color: #ff6262;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, .25);
}

.active:hover {
    color: #ba0000;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, .75);
}

.parallelogram {
    transform: skew(-12deg);
}

.skew-fix {
    display: inline-block;
    transform: skew(12deg);
}

/* NAVBAR - MOBILE */

@media(max-width: 768px) {

    .site-name {
        font-size: 30px;
        padding: 10px 10px;
    }

    .navbar-right {
        padding-right: 10px;
    }

    .nav-button {
        font-size: 15px;
        padding: 5px 10px;
        margin: 5px 5px;
    }

    .active {
        box-shadow: 4px 4px 0 rgba(0, 0, 0, .75);
    }

    .nav-button:hover {
        box-shadow: 4px 4px 0 rgba(0, 0, 0, .75);
    }

    .active:hover {
        box-shadow: 4px 4px 0 rgba(0, 0, 0, .75);
    }

}

/* IMAGE GALLERY */

.gallery-cell {
    width: 100%;
    position: fixed;
}

.gallery-image {
    width: 100%;
    height: fit-content;
}

.flickity-button {
    display: none;
}

.image-caption {
    color: #acacac;
    font-size: 15px;
    font-weight: 300;
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 100px;
}

/* IMAGE GALLERY - MOBILE */

@media(max-width: 768px) {

    .image-caption {
        font-size: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }

}

/* INTRODUCTION/RESOURCES */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-header {
    color: #ba0000;
    font-size: 60px;
    font-weight: 900;
    font-variant-caps: small-caps;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.section-text {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.last-section-text {
    padding-bottom: 0px;
}

.resource-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
}

.link:hover {
    color: #ff6262;
}

.last-link {
    padding-bottom: 50px;
}

/* INTRODUCTION/RESOURCES - MOBILE */

@media(max-width: 768px) {

    .section-header {
        font-size: 30px;
        padding: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .section-text {
        font-size: 10px;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .last-section-text {
        padding-bottom: 0px;
    }

    .link {
        font-size: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .last-link {
        padding-bottom: 25px;
    }

}

/* FOOTER */

.page-footer {
    background-color: #8e0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-navbar {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav-button {
    background: black;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 0;
    display: inline-block;
    padding: 5px 15px;
    margin: 25px 10px;
    text-decoration: none;
}

.active {
    color: #ba0000;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, .75);
}

.footer-nav-button:hover {
    color: #ff6262;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, .25);
}

.active:hover {
    color: #ba0000;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, .75);
}

.footer-text {
    color: #acacac;
    font-size: 20px;
    font-weight: 500;
    padding-left: 100px;
    padding-right: 100px;
}

.updated {
    color: white;
    font-weight: 700;
    padding-top: 25px;
}

.by {
    padding-bottom: 0px;
}

.name {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
}

.footer-link {
    padding: 2px;
    padding-top: 5px;
}

.logo {
    width: 20px;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.copyright {
    color: white;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* FOOTER - MOBILE */

@media(max-width: 768px) {

    .footer-navbar {
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer-nav-button {
        font-size: 15px;
        padding: 5px 10px;
        margin: 5px 5px;
    }

    .active {
        box-shadow: 4px 4px 0 rgba(0, 0, 0, .75);
    }

    .footer-nav-button:hover {
        box-shadow: 4px 4px 0 rgba(0, 0, 0, .25);
    }

    .active:hover {
        box-shadow: 4px 4px 0 rgba(0, 0, 0, .75);
    }

    .footer-text {
        font-size: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .updated {
        padding-top: 15px;
    }

    .by {
        padding-bottom: 0px;
    }

    .name {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 5px;
    }

    .footer-link {
        padding: 2px;
        padding-top: 5px;
    }

    .logo {
        width: 15px;
    }

    .author {
        padding-left: 25px;
        padding-right: 25px;
    }

    .copyright {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

/* DATA TABLES */

.table-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    overflow-x: auto;
    width: auto;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.last-data-table {
    margin-bottom: 50px;
}

th,
td {
    border: 2px solid black;
    padding: 5px;
    text-align: left;
    font-size: 20px;
}

th {
    color: white;
    font-weight: 700;
    background-color: #8e0000;
}

td {
    color: black;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: pink;
}

td:first-child {
    font-weight: 700;
}

td:last-child {
    min-width: 500px;
}

/* DATA TABLES - MOBILE */

@media(max-width: 768px) {

    .table-container {
        width: 85%;
    }

    .last-data-table {
        margin-bottom: 25px;
    }

    th,
    td {
        border: 1px solid black;
        padding: 3px;
        font-size: 15px;
    }

}